@charset "UTF-8";

body{
    background-color:rgba(102,0,116,0.5);
}

h1{
    border-bottom: darkred solid 5px;
    margin-bottom: 30px;
}

.midashi{
    margin-top: 50px;
    background-color:rgba(61,255,50,0.5);
}

img{
    width: 600px;
    height:max-content;
}

footer{
    margin-top: 50px;
    text-align: center;
}
